<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3></h3>
            <p>
              Vardhaman College of Engineering <br>
              Kacharam, Shamshabad – 501 218 <br>
              Hyderabad, Telangana, India<br><br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.ieee.org/">IEEE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://ieeehyd.org/">IEEE Hyderabad Section</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.computer.org/">IEEE Computer Society</a></li>
              
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
      
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://wie.ieee.org/">IEEE Women In Engineering AG</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://ieee-cas.org/">IEEE Circuits and Systems Society</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.comsoc.org/">IEEE Communications Society</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
      
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://signalprocessingsociety.org/">IEEE Signal Processing Society</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://ieee-edusociety.org/">IEEE Education Society</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.ieee-pes.org/">IEEE Power & Energy Society</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>IEEE Vardhaman Student Branch</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/ieeevmegsb" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/ieeevardhaman/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

   <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
