<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3810.258578028393!2d78.30432791478151!3d17.25472061115956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90c8da620f9d%3A0x19d0d79257022687!2sVardhaman+College+of+Engineering!5e0!3m2!1sen!2sin!4v1535116738922"
          width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a class="lead" href="https://www.ieee.org">IEEE Main Website</a><br>
        <a class="lead" href="https://ieeehyderabad.org/">IEEE Hyderabad</a><br>
        <a class="lead" href="https://wie.ieee.org/">IEEE Women in Engineering</a><br>
        <a class="lead" href="https://www.computer.org/">IEEE Computer Society</a><br>
        <a class="lead" href="https://www.ieee-pes.org/">IEEE Power and Energy Society</a><br>
        <a class="lead" href="https://www.comsoc.org/">IEEE Communications Society</a><br>
        <a class="lead" href="http://ieee-cas.org/">IEEE Circuits and Systems Society</a>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">About IEEE</h4>
        <p class="lead mb-0">IEEE is the world’s largest technical professional organization dedicated to advancing
          technology for the benefit of humanity. IEEE's core purpose is to foster technological innovation and
          excellence for the benefit of humanity.</p>
      </div>
    </div>
  </div>
</footer>