<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a href="/" class="logo mr-auto"><img src="/public/assets/img/IEEE VCE SB PNG.png" height="100" class="img-fluid"></a>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="drop-down"><a href="">Branch Chapters</a>
                    <ul>
                        <a class="dropdown-item" href="/excom">VCE SB EXECOM</a>
                        <a class="dropdown-item" href="/chapters/cs">IEEE CS</a>
                        <a class="dropdown-item" href="/chapters/wie">IEEE WIE</a>
                        <a class="dropdown-item" href="/chapters/cas">IEEE CAS</a>
                        <a class="dropdown-item" href="/chapters/mtt">IEEE MTT</a>
                        <a class="dropdown-item" href="/chapters/sp">IEEE SP & COMSOC</a>
                        <a class="dropdown-item" href="/chapters/es">IEEE ES</a>
                        <a class="dropdown-item" href="/chapters/pes">IEEE PES</a>
                    </ul>
                </li>
                <li class="drop-down"><a href="">Events</a>
                    <ul>
                        <a class="dropdown-item" href="/events">Events</a>
                        <a class="dropdown-item" href="https://Pranaykashyap.github.io/wtt/">WALK THE TALK</a>
                        <a href="/sameeksha">SAMEEKSHA 2021</a>
                    </ul>
                </li>
                <li><a href="/slate">Executive Comittee</a></li>
                <li><a href="/newsletters">Newsletters</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                
                <li><a href="/sps-summit">DEEP LEARING SUMMIT 2021</a></li>
 
                
                
        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->
