/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #37517e;
}

a:hover {
  color: #37517e;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
/**/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #37517e;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #37517e;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #37517e;
}

#header .logo img {
  height: 70px;
 /* padding-right: 10px;*/
}
@media (max-width: 600px) {
  #header .logo img{
    height: 60px;
  }
}


@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}
#header .mr-auto{
  margin-right: 10px;
}


.sponsor img{
  height: 100px;
  width: auto;
  margin-right: 30px;
  margin-bottom: 40px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #37517e;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/*.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #47b2e4;
}*/

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #37423b;
}

/*.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #5fcf80;
}*/

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 22px;
  background: #37517e;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.get-started-btn:hover {
  background: #37517e;
  color: #fff;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 17px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #37423b;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #37517e;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #37517e;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(32, 38, 34, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background: url("../img/vardhaman.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 2px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 62px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #eee;
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #37517e;
  border: 2px solid #37517e;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.timer{
  margin-top: 30px;}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: white;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #121212;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
  color: #37517e;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f7f6;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #37517e;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  padding-bottom: 10px;
}

.about ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5fcf80;
}

.about .content .learn-more-btn {
  background: #37517e;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.about .content .learn-more-btn:hover {
  background: #37517e;
  color: #fff;
}

@media (max-width: 768px) {
  .about .content .learn-more-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

.honor{
  margin-bottom: 40px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #37517e;
  font-size: 14px;
  background: #eef0ef;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f9faf9;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #37517e;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #37517e;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #37517e;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #37517e;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #37517e;
  color: #fff;
  text-decoration: none;
}




#mainNav{
    background-color: #FFF;
}

#mainNav .navbar-brand img{
    height: 50px;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #0C1C8C !important;
}

header.masthead {
    height: 600px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.hero {
    padding-top: 150px;
}

.img-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-col p{
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

[class$='-img']{
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 2px 5px #aeaeae;
}

[class$='-logo']{
    height: 95px;
    width: 277px;
    
    
}
.events_img{
    
    height:8cm;
    width:20cm;
}

.events_img-side{
    float: left;
    padding: 5px;
    height:8cm;
    width:18.5cm;
}

/* IEEE LOGO'S*/
.IEEEnLOGO{
    background-image: url('/public/assets/img/IEEE VCE SB PNG.png'); 
    height: 220px;
    width: 240px;
    background-size: 100%;
    box-shadow: 0px 0px 1px #aeaeae;
}

/*IEEE logo's*/
.ieee_cs-logo{ background-image: url('/public/assets/img/IEEE_CS.png'); }
.ieee_wie-logo{ background-image: url('/public/assets/img/IEEE_WIE.png'); }
.ieee_mtt-logo{ background-image: url('/public/assets/img/IEEE_MTT-S.svg'); }

/*Coongrats Images*/
[class$='congrats_']{
     height: 10cm;
    width: 18cm;
    background-size: 100%;
}
.congrats_niharika{ background-image: url('/public/assets/img/congrats_niharika.jpeg'); }
.congrats_prashanth{ background-image: url('/public/assets/img/congrats_prashanth.jpeg'); }

/*Landing page images */

.principal-sir-img{ background-image: url('/public/assets/img/principal-sir.jpg'); }

.jabbar-sir-img{ background-image: url('/public/assets/img/jabbar-sir.jpg'); }

.rajanikanth_sir-img{ background-image: url('/public/assets/img/rajanikanth_sir.jpg'); }

.mallikharjuna_sir-img{ background-image: url('/public/assets/img/mallikarjun_sir.jpg'); }

.asif-img{ background-image: url('/public/assets/img/asif_sir.jpg'); }

/* CS chapter images */

.pravan-img{ background-image: url('/public/assets/img/pravan.jpg'); }

.niharika-img{ background-image: url('/public/assets/img/niharika.jpg'); }/*Common*/

.burhan-img{ background-image: url('/public/assets/img/burhan.jpg'); }

.sunayana-img{ background-image: url('/public/assets/img/sunayana.jpg'); }

.prashanth-img{ background-image: url('/public/assets/img/prashanth.jpg'); }/*Common*/

.vaishnavi-img{ background-image: url('/public/assets/img/vaishnavi.jpg'); }/*Common*/

.akash-img{ background-image: url('/public/assets/img/akash.jpg'); }

.shashi-img{ background-image: url('/public/assets/img/shashi.jpg'); }

.puneeth-img{ background-image: url('/public/assets/img/puneeth.jpeg'); }/*Common*/

/* MTT chapter images */

.sulakshana_madam-img{ background-image: url('/public/assets/img/sulakshana_madam.jpg'); }

.manohar-img{ background-image: url('/public/assets/img/manohar.jpeg'); }

.akshita-img{ background-image: url('/public/assets/img/akshita.jpg'); }/*Common*/

.priyanka-img{ background-image: url('/public/assets/img/priyanka.jpg'); }/*Common*/

.adhana-img{ background-image: url('/public/assets/img/adhana.jpg'); }

.pooja-img{ background-image: url('/public/assets/img/pooja.jpg'); }

.hemavardhan-img{ background-image: url('/public/assets/img/hemavardhan.jpg'); }

.afsha-img{ background-image: url('/public/assets/img/afsha.jpg'); }/*Common*/

.nagaraju-img{ background-image: url('/public/assets/img/nagaraju.jpg'); }

/* WIE Chapter images */

.sangeeta_madam-img{ background-image: url('/public/assets/img/20191119_152040.jpg'); }

.thanmai-img{ background-image: url('/public/assets/img/thanmai.jpeg'); }

/* CAS Chapter images */

.jvr_sir-img{ background-image: url('/public/assets/img/jvr_sir.jpg'); }

.subramanya-img{ background-image: url('/public/assets/img/subramanya.jpg'); }

.vandana-img{ background-image: url('/public/assets/img/vandana.jpg'); }

.sai_charan-img{ background-image: url('/public/assets/img/sai_charan_l.jpg'); }

.newsletter-pdf{
    height: 800px;
    width: 800px;
}

/*-------------------------------------------- Slate 2020 images ----------------------------------------------*/

.aditya-img{ background-image: url('/public/assets/img/slate-2020/aditya.jpeg'); }
.bujji-img{ background-image: url('/public/assets/img/slate-2020/WhatsApp Image 2020-04-01 at 5.46.03 PM.jpeg'); }

.asma-img{ background-image: url('/public/assets/img/asma.jpeg'); }
.shriya-img{ background-image: url('/public/assets/img/slate-2020/shriya-ece.jpg'); }
.pavanid-img{ background-image: url('/public/assets/img/slate-2020/Screenshot_20200331-125802_Photos.jpg'); }
.asna-img{ background-image: url('/public/assets/img/slate-2020/asna.jpg'); }
.anish-img{ background-image: url('/public/assets/img/slate-2020/anish.jpg'); }
.asna-maheen-img{ background-image: url('/public/assets/img/slate-2020/asna-maheen.jpg'); }
.bhavana-img{ background-image: url('/public/assets/img/slate-2020/bhavana.jpg'); }
.deekshita-img{ background-image: url('/public/assets/img/slate-2020/deekshitha.jpeg'); }
.dhruthiee-img{ background-image: url('/public/assets/img/slate-2020/dhruthiee.jpeg'); }
.gaurav-img{ background-image: url('/public/assets/img/slate-2020/gaurav.jpg'); }
.harika-img{ background-image: url('/public/assets/img/slate-2020/harika.jpeg'); }
.harika_ghantasala-img{ background-image: url('/public/assets/img/slate-2020/harika_ghantasala.jpg'); }
.indu-img{ background-image: url('/public/assets/img/slate-2020/indu.jpg'); }
.jaideep-img{ background-image: url('/public/assets/img/slate-2020/jaideep.jpg'); }
.jinna_hrudaya-img{ background-image: url('/public/assets/img/slate-2020/jinna_hrudaya.jpeg'); }
.likhith-img{ background-image: url('/public/assets/img/slate-2020/mypic.png'); }
.katta_ananth-img{ background-image: url('/public/assets/img/slate-2020/katta_ananth.jpg'); }
.Kranthi_kumar-img{ background-image: url('/public/assets/img/slate-2020/Kranthi_kumar.jpeg'); }
.niharika-img{ background-image: url('/public/assets/img/slate-2020/niharika.jpg'); }
.nissy_carolin-img{ background-image: url('/public/assets/img/slate-2020/nissy_carolin.jpg'); }
.poorna_sree-img{ background-image: url('/public/assets/img/slate-2020/poorna_sree.jpg'); }
.pranay-img{ background-image: url('/public/assets/img/slate-2020/pranay.jpg'); }
.praneeth_kumar-img{ background-image: url('/public/assets/img/slate-2020/praneeth_kumar.jpeg'); }
.rahul_bharadwaj-img{ background-image: url('/public/assets/img/slate-2020/rahul_bharadwaj.jpg'); }
.rakshit_sarapu-img{ background-image: url('/public/assets/img/slate-2020/rakshit_sarapu.jpg'); }
.rangu_manohar-img{ background-image: url('/public/assets/img/slate-2020/rangu manohar.jpeg'); }
.rithika-img{ background-image: url('/public/assets/img/slate-2020/rithika.jpeg'); }
.roshini-img{ background-image: url('/public/assets/img/slate-2020/roshini.jpg'); }
.sathvika-img{ background-image: url('/public/assets/img/slate-2020/sathvika.jpg'); }
.shashidhar-img{ background-image: url('/public/assets/img/slate-2020/shashidhar.jpeg'); }
.sohith_akana-img{ background-image: url('/public/assets/img/slate-2020/sohith_akana.jpg'); }
.sagarika-img{ background-image: url('/public/assets/img/slate-2020/sagarika.jpg'); }
.satish-img{ background-image: url('/public/assets/img/slate-2020/satish_kumar.png'); }
.tejesh-img{ background-image: url('/public/assets/img/slate-2020/tejesh.jpg'); }
.m_vaishnavi-img{ background-image: url('/public/assets/img/slate-2020/vaishnavi.jpg'); }
.vaishnavi_reddy-img{ background-image: url('/public/assets/img/slate-2020/vaishnavi_reddy.jpg'); }
.Vamshi-img{ background-image: url('/public/assets/img/slate-2020/Vamshi.jpg'); }
.yashwanth-img{ background-image: url('/public/assets/img/slate-2020/yashwanth.jpg'); }
.asna-img{ background-image: url('/public/assets/img/slate-2020/IMG_20200331_125736.jpg'); }
.sruthi-img{ background-image: url('/public/assets/img/sruthi.jpg'); }
.varun-img{ background-image: url('/public/assets/img/varun.jpg'); }
.priyanka-img{ background-image: url('/public/assets/img/priyanka.jpeg'); }



/*-------------------------------------------- News letter ----------------------------------------------*/
.aj{

	width: 20rem;
}
/*-------------------------------------------- Updated front Page ----------------------------------------------*/

.slide{
  width: auto;
  height: auto;
  
  position: relative;
  animation: head 2.5s;

}

#div2 {animation-timing-function: ease;}
@keyframes head {
  from {left: -500px;}
  to {left: 0px;}
}

.vision{
  width: auto;
  height: auto;

  position: relative;
  animation: visi 2.5s;

}

#vis {animation-timing-function: ease;}
@keyframes visi {
  from {right: -500px;}
  to {right: 0px;}
}

.jabbar{
  width: auto;
  height: auto;

  position: relative;
  animation: jab 2s;

}


#vis {animation-timing-function: ease;}
@keyframes jab {
  from {right: -500px;}
  to {right: 0px;}
}


.sangeetha{
  width: auto;
  height: auto;

  position: relative;
  animation: san 2.5s;

}


#vis {animation-timing-function: ease;}
@keyframes san {
 from {left: -500px;}
  to {left: 0px;}
}


.jvr{
  width: auto;
  height: auto;
 
  position: relative;
  animation: prin 1s;

}

#vi {animation-timing-function: ease;}
@keyframes prin {
  from {left: -500px;}
  to {left: 0px;}
}




.heimg {
    align-items: center;
    height: 70px;
   
    float: center;
   

 
    display: block;
  margin-left: auto;
  margin-right: auto;
}


.vmeg {
    align-items: center;
    height: 350px;
   
    float: center;
   

 
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.slide{
  width: auto;
  height: auto;
  
  position: relative;
  animation: head 2.5s;

}

#div2 {animation-timing-function: ease;}
@keyframes head {
  from {left: -500px;}
  to {left: 0px;}
}

.vision{
  width: auto;
  height: auto;

  position: relative;
  animation: visi 2.5s;

}

#vis {animation-timing-function: ease;}
@keyframes visi {
  from {right: -500px;}
  to {right: 0px;}
}

.jabbar{
  width: auto;
  height: auto;

  position: relative;
  animation: jab 2s;

}


#vis {animation-timing-function: ease;}
@keyframes jab {
  from {right: -500px;}
  to {right: 0px;}
}


.sangeetha{
  width: auto;
  height: auto;

  position: relative;
  animation: san 2.5s;

}


#vis {animation-timing-function: ease;}
@keyframes san {
 from {left: -500px;}
  to {left: 0px;}
}


.jvr{
  width: auto;
  height: auto;
 
  position: relative;
  animation: prin 1s;

}

#vi {animation-timing-function: ease;}
@keyframes prin {
  from {left: -500px;}
  to {left: 0px;}
}




.heimg {
    align-items: center;
    height: 70px;
   
    float: center;
   

 
    display: block;
  margin-left: auto;
  margin-right: auto;
}


.vmeg {
    align-items: center;
    height: 350px;
   
    float: center;
   

 
    display: block;
  margin-left: auto;
  margin-right: auto;
}

